html, body {height: 100%; width: 100%;}
@font-face {
    font-family: OpenSansLight;
    src: url('fonts/OpenSansLight.ttf');
}
body {
	margin: 0;
	font-family: OpenSansLight;
}
/* меню */
.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 10000;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0;
	padding: 0;
}
.Name, .Name2 {
	font-family: OpenSansLight;
	font-size: 20pt;
	float: left;
}
.Name a {
	padding-left: 180px;
	color: #D4145A;
}
.Name2 {
	margin-left: 5px;
	color: #1F0033;
}
ul {
	font-family: OpenSansLight;
	font-size: 20pt;
	color: #1F0033;
  	padding-right: 20px;
  	list-style: none;
  	float: right;
	padding-right: 180px;
	position: relative;
	margin-top: 0px;
}
a {
  	text-decoration: none;
  	display: inline-block;
  	color: #1F0033;
	margin-top: 20px;
}
li {
  	display: inline-block;
  	margin-left: 25px;
}
/* конец меню */
/* начало приветствия */
.RedLine {
	position: absolute;
	width: 100%;
	height: 150px;
	top: 80px;
	left: 0px;
	background-color: #D4145A;
	color: white;
	text-align: center;
	padding-top: 50px;
}
.Hello {
	font-size: 40pt;
}
.Designer {
	font-size: 20pt;
	line-height: 20%;
}
/* конец приветствия */
/* начало мигания */
.BigLine {
	position: absolute;
	width: 100%;
	height: 350px;
	top: 280px;
	left: 0px;
	background-color: #1F0033;
	overflow: hidden;
}
.brick {
	background-color: #1F0033;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
}
/* конец мигания */
/* начало разделитель */
.SlimLine1 {
	font-size: 20pt;
	position: absolute;
	width: 100%;
	height: 70px;
	top: 650px;
	left: 0px;
	background-color: white;
}
.Title {
	width: 200px;
	position: relative;
	border-left: 2px solid #1F0033;
	border-right: 2px solid #1F0033;
	background-color: white;
	text-align: center;
	z-index: 100;
	margin-left:auto;
	margin-right: auto;
	margin-top: 25px;
}
.Line1 {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #1F0033;
	top: -17px;
	margin: 0px;
	padding: 0px;
}
/* конец разделитель */
/* начало контакты */
.Page1 {
	position: absolute;
	width: 100%;
	height: 170px;
	top: 700px;
	left: 0px;
	background-color: white;
}
.Info {
	position: relative;
	margin-left:auto;
	margin-right: auto;
	width: 300px;
	margin-top: 30px;
}
.Info1Icon {
	position: relative;
	width: 24px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/phone.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.Info2Icon {
	position: relative;
	width: 24px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/email.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.Info3Icon {
	position: relative;
	width: 24px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/vk.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.Info4Icon {
	position: relative;
	width: 24px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/arrow-down-bold-circle.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.InfoText {
	position: relative;
	left: 30px;
	font-size: 18pt;
	font-family: OpenSansLight;
	color: #1F0033;
}
.InfoText a {
	font-size: 18pt;
	color: #1F0033;
	margin: 0;
}
.VKlink:link {text-decoration: none; color:#1F0033;} 
.VKlink:visited {text-decoration: none; color:#1F0033;} 
.VKlink:active {text-decoration: none; color:#1F0033;}
.VKlink:hover {text-decoration: none; color:#1F0033;}
.MenuLink:link {text-decoration: none; color:#1F0033;} 
.MenuLink:visited {text-decoration: none; color:#1F0033;} 
.MenuLink:active {text-decoration: none; color:#1F0033;}
.MenuLink:hover {text-decoration: none; color:#1F0033;}
/* конец контакты */
/* обо мне */
.SlimLine2 {
	font-size: 20pt;
	position: absolute;
	width: 100%;
	height: 70px;
	top: 900px;
	left: 0px;
	background-color: white;
}
.Page2 {
	position: absolute;
	width: 100%;
	height: 800px;
	top: 1000px;
	left: 0px;
	background-color: white;
}
.MainText {
	position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 0;
	width: 650px;
}
.Resume1Icon {
	position: relative;
	width: 700px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/clipboard-account.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
	border-bottom: 2px solid #d8d8d8;
}
.Resume2Icon {
	position: relative;
	width: 700px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/school.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
	border-bottom: 2px solid #d8d8d8;
	margin-top: 30px;
}
.Resume3Icon {
	position: relative;
	width: 700px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/desktop-mac.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
	border-bottom: 2px solid #d8d8d8;
	margin-top: 30px;
}
.Resume4Icon {
	position: relative;
	width: 700px;
	height: 24px;
	top: 0px;
	left: 0px;
	background-image: url('icons/checkbox-multiple-marked.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
	border-bottom: 2px solid #d8d8d8;
	margin-top: 30px;
}
.Zagolovok{
	position: relative;
	top: -3px;
	left: 40px;
	font-size: 18pt;
	font-family: OpenSansLight;
	color: black;
}
.LeftText {
	position: relative;
	top: 0px;
	left: 40px;
	font-size: 18pt;
	font-family: OpenSansLight;
	text-align: right;
	vertical-align: top;
	width: 120px;
}
.RightText {
	position: relative;
	left: 60px;
	font-size: 18pt;
	font-family: OpenSansLight;
	width: 500px;
	text-align: left;
}
/* обо мне конец */
/* портфолио */
.SlimLine3 {
	font-size: 20pt;
	position: absolute;
	width: 100%;
	height: 70px;
	top: 1850px;
	left: 0px;
	background-color: white;
}
.Page3 {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 1940px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.PicBox {
	position: relative;
	height: 100%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.Port {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 20px;
	border: 2px solid #d8d8d8;
	-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
	-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
	-o-transition-duration: 0.5s; /*Opera: длительность анимации*/
}
.Port:hover{
	-webkit-transform:scale(2); /*Webkit: увеличиваем размер до 1.2x*/
	-moz-transform:scale(2); /*Mozilla: масштабирование*/
	-o-transform:scale(2); /*Opera: масштабирование*/
	box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
	z-index: 200;
}
/* конец портфолио */
/* футер */
.Poka {
	position: relative;
	width: 100%;
	height: 55px;
	background-color: #D4145A;
	color: white;
	text-align: center;
	padding-top: 5px;
}
.Poka2 {
	position: relative;
	width: 100%;
	height: 25px;
	background-color: #1F0033;
	color: white;
	font-size: 8pt;
	text-align: right;
	padding-top: 3px;
}
.rueng {
	color: white;
	font-size: 8pt;
	text-align: right;
	padding-top: 3px;
	margin: 0px;
}